{% extends 'base.html' %}

{% block title %} | Profile Page {% endblock %}

{% block content %}
<div class="container secret">
    <h1>Profile Page</h1>

    <div class="card border-primary my-4">
        <div class="card-header">Username: {{user.username}}</div>
        <div class="card-body">
            <div class="card-title">Full Name: {{user.first_name}} {{user.last_name}}</div>
            <div class="card-text">Email Address: {{user.email}}</div>

            <h4 class="mt-4">Feedbacks</h4>
            <div class="list-group">
                {% for feedback in feedbacks %}
                <a href="/feedbacks/{{feedback.id}}/update" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{feedback.title}}</h5>
                        <small>
                            <form action="/feedbacks/{{feedback.id}}/delete" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </small>
                    </div>
                    <p class="mb-1">{{feedback.content}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}