{% extends 'base.html' %}

{% block title %} | Register User{% endblock %}

{% block content %}
<div class="container register-user">
    <h1>Register New User</h1>
    <form action="/register" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
            {{field.label(class_='mt-4')}}
            {{field(class_='form-control')}}

            {% for err in field.errors %}
            <small class="form-text text-danger">{{err}}</small>
            {% endfor %}
        </div>
        {% endfor %}

        <button class="btn btn-primary mt-4" type="submit">Register</button>
    </form>
</div>
{% endblock %}